[submodule "go-store-services"]
	path = go-store-services
	url = https://github.com/huynhminhtruong/go-store-services.git
	branch = main
[submodule "go-store-kong"]
	path = go-store-kong
	url = https://github.com/huynhminhtruong/go-store-kong.git
	branch = main
[submodule "go-store-gateway"]
	path = go-store-gateway
	url = https://github.com/huynhminhtruong/go-store-gateway.git
	branch = main
[submodule "go-store-order"]
	path = go-store-order
	url = https://github.com/huynhminhtruong/go-store-order.git
	branch = main
[submodule "go-store-shipping"]
	path = go-store-shipping
	url = https://github.com/huynhminhtruong/go-store-shipping.git
	branch = main
[submodule "go-store-auth"]
	path = go-store-auth
	url = https://github.com/huynhminhtruong/go-store-auth.git
	branch = main
[submodule "go-store-user"]
	path = go-store-user
	url = https://github.com/huynhminhtruong/go-store-user.git
	branch = main
