[submodule "go-store-services"]
	path = go-store-services
	url = https://github.com/huynhminhtruong/go-store-services.git
	branch = main
[submodule "go-store-kong"]
	path = go-store-kong
	url = https://github.com/huynhminhtruong/go-store-kong.git
